.proficiencies {
  background-color: blueviolet;
}

.outer {
  width:100%;
  height:100px;
  white-space: nowrap;
  position: relative;
  overflow-x:scroll;
  overflow-y:hidden;
}

.outer div {
  width: 24.5%;
  background-color: #eee;
  float: none;
  height: 90px;
  margin: 0 0.25%;
  display: inline-block;
}