* {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
}

h1 {
  color: #FFFFFF;
  text-shadow:
    0 1px 0 #CCCCCC,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

h2 {
  margin: 0px;
}

html, footer {
  background-color: #C8DAB9;
}

.App {
  text-align: center;
  display: block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

// .App-header {
//   background-color: #F7F5F0;
//   min-height: 100vh;
//   display: block;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
//   text-align: center;
//   padding: 50vh;
// }


.home-container {
  margin: auto;
  display: inline-block
}

.App-link {
  color: #61dafb;
}

.hm-text {
  color: black;
}

// footer
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin: 10px auto 0 auto;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.social-links li a {
  text-decoration: none;
}

.social-links li a:hover {
  color: palevioletred;
}

a.social {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

a.twitter {
  background-image: url(./twitter.svg);
}

a.linkedin {
  background-image: url(./linkedin.svg);
}

a.github {
  background-image: url(./github.svg);
}

a.social:hover {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:800px) {
  .App {
    width: 100%;
  }

  .app-header {
    padding-top: 75vh;
  }
}
