.engraved {
  margin: 0;
}

.navbar {
  background-color: #C8DAB9;
  height: auto;
  margin-bottom: 0;
  box-sizing:border-box;
  border: none;
  height: 17.5%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  position: relative;
}

.navigation-list {
  padding-left: 0;
  position: relative;
  list-style-type: none;
}

.nav-btn {
  text-transform: uppercase;
  font-size: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-home,
.nav-experience,
.nav-projects,
.nav-blog,
.nav-contact {
  //padding:20px;
  float:left;
  width:20%;
}

.nav-btn > p {
  //margin-bottom: 0;
  color: #333330;
}

.nav-btn > a, a:hover {
  color: #333330;
  text-decoration: none;
}

.nav-btn:hover {
  text-decoration: none;
  background-color: rgb(166, 182, 154);
}

// make icons invisible
.mobile-icon {
  display: none;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .nav-home,
  .nav-experience,
  .nav-projects,
  .nav-blog,
  .nav-contact,
  .navigation-list {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    border-bottom: solid #333330 2px;
    background-color: #C8DAB9;
    justify-content: left;
  }

  .header {
    background-color: #F7F5F0
  }

  // make icons visible
  .mobile-icon {
    display: block;
    margin: 0 25px;
    height: 40px;
  }

  .right-arrow {
    position: absolute;
    right: 12px;
  }

}