.navigation-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.engraved {
  margin: 0;
}

.navbar {
  background-color: #C8DAB9;
  height: auto;
  margin-bottom: 0;
  box-sizing:border-box;
  border: none;
  height: 17.5%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 0;
}

.navigation-list {
  padding-left: 0;
  position: relative;
  list-style-type: none;
}

.nav-btn {
  text-transform: uppercase;
  font-size: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-home,
.nav-experience,
.nav-projects,
.nav-blog,
.nav-contact {
  //padding:20px;
  float:left;
  width:20%;
}

.nav-btn > p {
  //margin-bottom: 0;
  color: #333330;
}

.nav-btn > a, a:hover {
  color: #333330;
  text-decoration: none;
}

.nav-btn:hover {
  text-decoration: none;
  background-color: rgb(166, 182, 154);
}

// make icons invisible
.mobile-icon {
  display: none;
}

@media (min-width:800px) {
  #mobile-navbar {
    display: none;
  }

  #desktop-navbar {
    display: block;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  #desktop-navbar {
    display: none;
  }

  #mobile-navbar {
    display: block;
    position: fixed;
    top: 0;
    background-color: #C8DAB9;
    height: 10rem;
    width: 100%;
  }

  .button-border {
    width: 100px;
    height: 100px;
    align-content: center;
  }

  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 50px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    top: 25px;
  }

  .toggle-button:focus {
    outline: none;
  }

  .toggle-button__line {
    width: 50px;
    height: 5px;
    background: white;
    border-radius: 5px;
  }

  .nav-home,
  .nav-experience,
  .nav-projects,
  .nav-blog,
  .nav-contact,
  .navigation-list {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    border-bottom: solid #333330 2px;
    background-color: #C8DAB9;
    justify-content: left;
  }

  .header {
    background-color: #F7F5F0
  }

  // make icons visible
  .mobile-icon {
    display: block;
    margin: 0 25px;
    height: 40px;
  }

  .right-arrow {
    position: absolute;
    right: 12px;
  }

}